@mixin LRpadding {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

html,
body {
	padding-bottom: 300px;
}
.header__smallp {
	& > tbody > tr > th {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	background: #f6f6f6;
	background-color: #f6f6f6;
	p {
		color: #747676;
		text-align: right;
		font-size: 11px;
		padding-bottom: 5px;
		padding-top: 5px;
		margin-bottom: 0;
	}
}
.header__main {
	& > tbody > tr > th {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.verizon-logo {
		width: 150px;
	}
	.shop {
		width: 63px;
		display: inline-block;
	}
	.support {
		width: 86px;
		display: inline-block;
	}
	.my-verizon {
		width: 106px;
		display: inline-block;
	}
}
.open-stores {
	& > tbody > tr > th {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
