<container>
	<rows class="footer__social">
		<columns class="footer__social">
			<a
				href="https://t.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f77&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=XXKQVOmJHqeFNNkw5huzidFB-PF9LZeXe529gy653e0="
				target="_blank"
				><img
					class="social-icons"
					src="https://ci5.googleusercontent.com/proxy/EeMHNH7mQ9IsXHFsrx7-EJ__916i5uPxRYFsSkXLwHsdcSf0lYr56ZDL1rHji8oORmmnKJK6HIKfCdWJ6TykH0vZjW6xWCm9w8Wyqi3MSMb6zN-lRugu-dBugA=s0-d-e1-ft#https://ecrm.e.verizonwireless.com/VZG/Crown/Images/Footers/Facebook.png"
					alt="facebook"
			/></a>
			<a
				href="https://t.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f78&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=-tgIFy5CXA29xr6rO9DOxv_KS8YH5zU8Rweoz3aQ_k4="
				target="_blank"
				><img
					class="social-icons"
					src="https://ci3.googleusercontent.com/proxy/wzPGadoMuhKCNIyoQX2B9yAXOJtCWehskSohmXKuTaU_o_MVP6ed9h-RTyYj-OVU_IMXfUi4C7Yog2WRaw2qf6nmKDXeF7IUCkZd2TNTurp-Fh9OgNjXUcE-=s0-d-e1-ft#https://ecrm.e.verizonwireless.com/VZG/Crown/Images/Footers/Twitter.png"
					alt="twitter"
			/></a>
			<a
				href="https://t.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f79&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=IX6Bz9ITcJLK2ejIXMN2nrSFMnZYExFCHxf6ZRs8dtY="
				target="_blank"
				><img
					class="social-icons"
					src="https://ci6.googleusercontent.com/proxy/vWN8SaavgNX9U_0YD37k8UmfPVefSnhO8YfB_PbgPgTu6dOtW6gGqdP01IQbN8zX1_ZHbBxtTd7tJnvMJjYHqL9kBWgYk5Yrx9KG8fNVI1RYI2qqn2mL0yzR1PA=s0-d-e1-ft#https://ecrm.e.verizonwireless.com/VZG/Crown/Images/Footers/Instagram.png"
					alt="instagram"
			/></a>
			<a
				href="https://t.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f7a&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=Fxk2yR3IO2m9JzzprwkD8N0mb0gmJdvIVTZL5ShMAKM="
				target="_blank"
				><img
					class="social-icons"
					src="https://ci3.googleusercontent.com/proxy/LS1cRvkpPTCgRhNiqVt3DuvRK_Xg51ibhhIWgGzMEi7QYlkT88SQK31S9Ef8q7ZSXV48kIScScC_YVhkgSxgJgqb-s4SWKjiM5jk_z0KuHh3gaAjC958k-06=s0-d-e1-ft#https://ecrm.e.verizonwireless.com/VZG/Crown/Images/Footers/YouTube.png"
					alt="youtube"
			/></a>
		</columns>
	</rows>
</container>
<container>
	<row>
		<columns class="footer__links">
			<a
				href="https://t.sl.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f99&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=tlDqVVl1yxIXqLVp7ojqjKWW8QA46nwr5Erh-8cF5bU="
				target="_blank"
				>Phones</a
			>
			<a
				href="https://t.sl.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f9a&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=Af3kBKlGgYNhFt6FPYMcIou_4Adpcxgg2Rsl7JKyH3U="
				target="_blank"
				>Tablets</a
			>
			<a
				href="https://t.sl.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f9b&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=77ehpc0uJgZTmEpBs20YSxX6RiMRpz-lghOm8NCLhRQ="
				target="_blank"
				>Accessories</a
			>
			<a
				href="https://t.sl.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f9c&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=mQxcT1udqQ-fjrEwIWvNsbnuBUsXlZx1Iw7vF64dbvI="
				target="_blank"
				>Plans</a
			>
			<a
				href="https://t.sl.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f9d&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=IQydoOuy-mM7ZGK9hUnqzWb-DGSdlMVfB2GqX3H8SZA="
				target="_blank"
				>Verizon Up</a
			>
			<a
				href="https://t.sl.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f9e&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=FCRlXDvitoU0yLShwU1U3Szoytld9i3igkXklfcABus="
				target="_blank"
				>Stores</a
			>
			<a
				href="https://t.sl.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f9f&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=Xy8O1nvJNOblJrh5dyoVo5LR7Xusd9H8bEur5icImDI="
				target="_blank"
				>My Verizon App</a
			>
		</columns>
	</row>
</container>
<container>
	<spacer size="50"></spacer>
	<row class="footer__terms-and-conditions">
		<columns>
			<p>
				New line of service & device payment purchase req'd. Offer valid on eligible
				smartphones with a full retail price of $300 or higher; 0% APR. Cannot be
				combined with any other offers. To get $150 off an eligible device, enter
				the promo code SMART150 at checkout and the $150 discount will apply within
				the cart. Limited-time offer. While supplies last. Pricing subject to
				change.<br /><br />

				**Up to $1,699.99 device payment purchase and new tablet line of service
				req’d. Less $150 promo credit applied over 24 mos.; promo credit ends if
				eligibility requirements are no longer met; 0% APR. Cannot be combined with
				any other offers. To get $150 off an eligible device, enter the promo code
				TABLET150 at checkout. Limited-time offer. While supplies last. Pricing
				subject to change.<br /><br />

				^Up to $799.99 device payment purchase with new line of service required.
				Less $150 promo credit applied over 24 months; promo credit ends if
				eligibility requirements are no longer met; 0% APR. Offer cannot be combined
				with other offers. Enter promo code SMARTWATCH150 at checkout. Limited-time
				offer. Restrictions may apply. While supplies last.<br /><br />

				Activation/upgrade fee/line: Up to $40.
				<strong>IMPORTANT CONSUMER INFORMATION:</strong> Subject to VZW Agmts.,
				Calling Plan & credit approval. Offers & coverage, varying by svc., not
				available everywhere; see
				<a
					href="https://t.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2fa1&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=Ilj3lovxk2VWx-G4TqM1WEO44KvQb9XG4uU9HJQQri4="
					target="_blank"
					>vzw.com</a
				>
				for details. Restocking fee may apply. In MA & NV: Sales tax based on higher
				of device price or VZW’s device cost. In CA: Sales tax based on full price
				of device. Add'l CA eWaste fee may apply.<br /><br />

				ⓒ 2021 Verizon<br /><br />

				This email was sent to r.allanvila@gmail.com. We respect your privacy.
				Please review our
				<a
					href="https://t.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2fa4&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=swmCUCdLWwG9kyMCvmqjlKARBIC4GRWAr1LurbFdl04="
					target="_blank"
					>Privacy Policy</a
				>. You may
				<a
					href="https://t.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2fa8&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&p1=%40wKYsKEXBHqX4jM6x%2FobONQ%3D%3D&p2=DM287833&p3=AAL_Retargeting&p4=%40N253Ccuf51MkWmhxWR1bag%3D%3D&s=yGl8-ZVgkv8CHruwKate5Gzu21DWul5WvJj6XeoV0b0="
					target="_blank"
					>unsubscribe</a
				>
				from Verizon promotional emails at any﻿ ﻿time.<br /><br />

				Verizon, One Verizon Way, Mail Code: 180WVB, Basking Ridge, NJ 07920
			</p>
		</columns>
	</row>
</container>
