<container>
	<row class="footer__top">
		<columns>
			<img
				src="https://ci5.googleusercontent.com/proxy/EREfXxAB-sd8SWslNsYBl2tXJWKcG_RQBMKDJlObMXpZqwGB9MhCtyZcQ2rK9VSX4BR1Uxf_3dSpCiA9A8EoDr5rRWSpOFbd0OFwsJyqsKVJpqiVBs3uHYN2y9-Gxagi44W7GZWx0LLXwmZTkn91knqsiQgR5mE=s0-d-e1-ft#http://image.em.riotgames.com/lib/fe3e157075640678741676/m/5/wr_openbeta_enus_hand_outtro_button.png"
				alt="Ashe- Ready when you are"
			/>
			<p>Follow Wild Rift for updates.</p>
		</columns>
	</row>
	<row class="footer__social">
		<columns>
			<center>
				<a
					href="http://click.em.riotgames.com/?qs=c103e83419dd9ed5adf11c05bc28d6fd82195cbdda91ec6a61eb1e0762f77459aa7477f47133bef175261f9f17b55e5b7cf9e78154c9aaf108447fafb55b978a"
					><img
						src="https://ci6.googleusercontent.com/proxy/A6Ii5sNrQ83r-0e1Q--4nMcLPN1sCopcMFZSQrbsE8JDF8HqikTILlQmvKrY-b5NfRIGKHEZrm9ivc8Y_XtuNY2l7AGvybqkzOcHnzPF8tdrQpSuKlWnBQ58rPUUhPs=s0-d-e1-ft#http://image.em.riotgames.com/lib/fe3e157075640678741676/m/3/WR-Facebook.png"
						alt="facebook"
				/></a>
				<a
					href="http://click.em.riotgames.com/?qs=c103e83419dd9ed5da4027045e197e97f14435c21d1deae1e640fb6b5b6f2a6ad7423228b5f5c70631247c8a10232edf5ad91eb2e428f1df91757450aab19e93"
					><img
						src="https://ci6.googleusercontent.com/proxy/Pg3Owbg7LFMOueMd2S_oWMvvrVLjWIS_JhbyyZCJvIIhpsAn2jymWo9PHH8Aggshdgj9mgsmzNn4-Ayeo-_8BMW-jHmt6np0PzsNdHpjdCuBxyl8Xkbo3elMjC9tzw=s0-d-e1-ft#http://image.em.riotgames.com/lib/fe3e157075640678741676/m/3/WR-Twitter.png"
						alt="twitter"
				/></a>
				<a
					href="http://click.em.riotgames.com/?qs=c103e83419dd9ed59d61d4f1641b763949dc0048467319b59ae5f5e965f3ba46c6eed5f1b16d36f19ded121e9901511914b571a82881162a7588a73fab05fc2d"
					><img
						src="https://ci4.googleusercontent.com/proxy/AOASy3VigJU14o9Vk8tgpEYnkIwGpOhhNoMgz_XZ9RScmQieT7TVCLGB04PgkdFeouxxvugmSMiUqJArkfmo62kV4BUDO_n9pWByKntDQowPQs0W8SqUGjq1kUB18Xop=s0-d-e1-ft#http://image.em.riotgames.com/lib/fe3e157075640678741676/m/3/WR-Instagram.png"
						alt="instagram"
				/></a>
				<a
					href="http://click.em.riotgames.com/?qs=c103e83419dd9ed533192d608faf19f891a9bf9cbbf68ea7236222d7fb279a4be27ccc0c64e01dead5194b7ae1941a7c475f3a549c84cb114a203c4451a11fab"
					><img
						src="https://ci4.googleusercontent.com/proxy/ffO-qiClYpo6rIShImswA8I4vk-SHWV8AS4XaWKlZX2LLQQVXJAEkuz4qvrPXFo9dw4tUXWgpE-c7jsFipK217ZgNg9zBDhfQJI6eAYNE7SZ7C31hvAvQVbFNqwDBg=s0-d-e1-ft#http://image.em.riotgames.com/lib/fe3e157075640678741676/m/3/WR-YouTube.png"
						alt="youtube"
				/></a>
			</center>
		</columns>
	</row>
	<!-- <row class="rating">
		<columns>
			<center>
				<a
					class="riot"
					href="http://click.em.riotgames.com/?qs=c103e83419dd9ed5a9a8c958dab34353b7a6c834cb46036b5d960957cb98f52f012236553aa61e3d13d3926029da0430610715ea8c62346d7f27149bea32f524"
					><img
						src="https://ci5.googleusercontent.com/proxy/TorArIj1HWoryK-SN1Qx0A07vqZThK6v7sydi2fB8WvrrB73qFVJL3FXAcOKRoxeQCxtG-SCttSEOxqSOmWirLqjzziwQL-L39uul3G7L2_TQZU0F-gMFOdZBvs=s0-d-e1-ft#http://image.em.riotgames.com/lib/fe3e157075640678741676/m/2/RiotLogo.png"
						alt="riot games"
				/></a>
			
				<img
					class="esrb"
					src="https://ci3.googleusercontent.com/proxy/lJTD58htRffTX4sNkSftbpjF3YpxcxFEXDe_AND1HvE090hppMYXmgEhdAccHNcb0f8NYsDcBr1f-eEGLovR08ncWGNLG22gU8r6UXZ4y6zqdBYUNxrNgtg58g=s0-d-e1-ft#http://image.em.riotgames.com/lib/fe3e157075640678741676/m/2/ESRB-US.jpg"
					alt="Teen sESRB Content Rating"
				/>
			</center>
			<p>
				This email was sent to wakerider318@gmail.com because you've opted in to
				receive marketing communications from Riot Games.To update your preferences,
				visit our Preference Center.
			</p>
		</columns>
	</row> -->
	<row class="rating">
		<columns>
			<center>
				<a
					class="riot float-right"
					href="http://click.em.riotgames.com/?qs=c103e83419dd9ed5a9a8c958dab34353b7a6c834cb46036b5d960957cb98f52f012236553aa61e3d13d3926029da0430610715ea8c62346d7f27149bea32f524"
					><img
						class="float-right"
						src="https://ci5.googleusercontent.com/proxy/TorArIj1HWoryK-SN1Qx0A07vqZThK6v7sydi2fB8WvrrB73qFVJL3FXAcOKRoxeQCxtG-SCttSEOxqSOmWirLqjzziwQL-L39uul3G7L2_TQZU0F-gMFOdZBvs=s0-d-e1-ft#http://image.em.riotgames.com/lib/fe3e157075640678741676/m/2/RiotLogo.png"
						alt="riot games"
				/></a>
			</center>
		</columns>
		<columns>
			<center>
				<img
					class="esrb"
					src="https://ci3.googleusercontent.com/proxy/lJTD58htRffTX4sNkSftbpjF3YpxcxFEXDe_AND1HvE090hppMYXmgEhdAccHNcb0f8NYsDcBr1f-eEGLovR08ncWGNLG22gU8r6UXZ4y6zqdBYUNxrNgtg58g=s0-d-e1-ft#http://image.em.riotgames.com/lib/fe3e157075640678741676/m/2/ESRB-US.jpg"
					alt="Teen sESRB Content Rating"
				/>
			</center>
		</columns>
	</row>
	<row class="unsubscribe">
		<columns>
			<p>
				This email was sent to wakerider318@gmail.com because you've opted in to
				receive marketing communications from Riot Games.To update your preferences,
				visit our Preference Center.
			</p>
		</columns>
	</row>
</container>
<container> </container>
