<container>
	<row>
		<column>
			<img
				class="hbo banner"
				src="https://ci4.googleusercontent.com/proxy/0iPp6k8ysfJstMsLBLmg_PErm6rn2P2Ult1D9BKkU-A3ZPJ00EyUIbtXKBVkGRDEaPGZYx4_fs6SpjkkCUgpBOYyOp4ABEomBvFJGvqirwbNqk4_ibMgO5Gq2zfyCwN03ITfGP1PPu59llH8hmyTpcje1-BWJOoZOSao7sk8Inb7eVcsWMu79J3jjJ1B=s0-d-e1-ft#https://appboy-images.com/appboy/communication/assets/image_assets/images/5e98e29899e8af474fb05807/original.png?1587077784"
				alt="hbo max banner"
			/>
		</column>
	</row>
</container>
<container>
	<row>
		<column>
			<img
				class="featured-title"
				src="https://ci4.googleusercontent.com/proxy/-sSTb0gxLcTM_pPAn77ozWxTWnpji393n82uZ8XvWCKl8x3Od0xQfeN8hpTTo502WUtCHEdtgTDw8O3HActxYoez-7Vc6hlfFdA48OuMtuADz-HAuLWKrOX8m-XY3QfZj2aBLTGChIhDFolrfY-AoQMEh6q1wdp_n2BK3sstbTphNDPebgdi4Cx5O97O=s0-d-e1-ft#https://appboy-images.com/appboy/communication/assets/image_assets/images/6045ba7de16e177b39861bdd/original.jpg?1615182461"
				alt="featured title"
			/>
		</column>
	</row>
</container>
