<container>
	<row class="header__smallp">
		<columns>
			<p>Choose from phones, tablets or smartwatches.</p>
		</columns>
	</row>
</container>
<container>
	<row class="header__main">
		<columns>
			<a
				href="https://t.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f3b&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=qCMEtn2Tx1FUjKasN4kkX_cWodilXDwDo4oWqhIHDiY="
			>
				<img
					class="verizon-logo"
					src="https://ci6.googleusercontent.com/proxy/-F0VQCBi_fDrHumVQii9n9A2h87z4QgpS2R_rW8KfuctQ_iXJnbDdluQ-7Sikz__4frQnk5i9O9ZZHIxBHogBsNV7-ijFOrmMYFUziH5d99nangSczta8cth=s0-d-e1-ft#https://ecrm.e.verizonwireless.com/VZG/Crown/Images/Headers/verizon.jpg"
					alt="verizon logo"
				/>
			</a>
		</columns>
		<columns>
			<a
				class="shop"
				href="https://t.sl.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f57&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=l3hFlwrrQ-wUu9KwSAb89g5vcW2kWkCvTq0cG-a41vY="
				><img
					src="https://ci4.googleusercontent.com/proxy/j-tCC_bZlxTrOAeAilUG3oF4er5vtXtiETHwsg_Sj0kHWElkAXWulYI1LX-1UaQsUGiRq3dQ2pPz4uu9f9JoTOPsxU6yyVrmeBsSjk2i47GiJ6co1agv=s0-d-e1-ft#https://ecrm.e.verizonwireless.com/VZG/Crown/Images/Headers/Shop.jpg"
					alt="shop"
			/></a>
			<a
				class="support"
				href="https://t.sl.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f58&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=r0B18bePz8UY5n9Q3jx_YputL5DULpkD5m3QHjgR8fk="
				><img
					src="https://ci3.googleusercontent.com/proxy/3-lesfPsdDBLeg-MXWs5AZpQV7uW2q6_fh6lm0lhuUpeTwH65fXMl6_KO_bqxXH0TApk8ptPdu5BdoVfivOi8C6v0ddAZgEWJcicWVgHGN5hqL0SOqJgl0ti=s0-d-e1-ft#https://ecrm.e.verizonwireless.com/VZG/Crown/Images/Headers/Support.jpg"
					alt="support"
			/></a>
			<a
				class="my-verizon"
				href="https://t.sl.e.verizonwireless.com/r/?id=h10243cc2%2C160272e8%2C11ae2f59&CMP=CRM_M_CU_AC_EM_AAL_99_99_MULTI_DEVICE_RETARGET&EMHID=79074208f6531e7031cc7479c594afc4defb382f4c39c826cc1c37edecd4db1e&CUHID=c4f79c620ad9fb41a7b56282c8797e03d492a4a952caf29d06e2b54af542b0cb&s=q_eblpppqQcGaefAIefSRag8sACMv-V89hCJo5uzx4Q="
				><img
					src="https://ci5.googleusercontent.com/proxy/au-hDd3yvckLAOnT-5nrhd8YIEaKSCIT_ya9t27B295CIfalnCTvinLINn3pNhQP8j_XaXkYnwkGgCSoDlLWYZoM1N4YJtn-SFx8QpClyLcjbWigsh6zwlNTT-Kk=s0-d-e1-ft#https://ecrm.e.verizonwireless.com/VZG/Crown/Images/Headers/My_Verizon.jpg"
					alt="my verizon"
			/></a>
		</columns>
	</row>
</container>
